#container{ 
    width: 100%; 
    margin: auto; 
}
#container > header{ 
    height: 80px; 
    background-color: darkcyan; 
}
#container > nav{ 
    height: 45px; 
    background-color:darkorange; 
}
#container > main{ 
    min-height: 400px; 
    display: flex; 
    background-color: lightcyan;
}
#container > main >article{ 
    width: 100%;  
}
#thanhmenu{
    padding:0; 
    margin:0; 
    list-style:none; 
    text-align:center; 
    font-family:Verdana;
}
#thanhmenu > li{
    display: inline; 
    line-height: 45px; 
    margin: 5px;
}
#thanhmenu > li > a{ 
    text-decoration: none; 
    color: lightcyan;
    font-weight: 600;
    text-transform: uppercase;
}
#thanhmenu > li > a:hover{ 
    color: yellow;
}
/* 2.	Định dạng css thêm sp */
#frmthemsp{
    width: 900px; 
    margin: auto; 
    border: 2px solid darkblue; 
    padding: 10px 10px;
}
#frmthemsp > div{ 
    margin-bottom: 15px;
}
#frmthemsp > div > label{ 
    display: block;
}
#frmthemsp  .txt{ 
    height: 40px; 
    outline: none; 
    width: 100%;
}
#frmthemsp > div > button{ 
    width: 130px; 
    height: 35px;
} 
#frmthemsp .haicot{ 
    display: flex; 
    justify-content: space-between;
}
#frmthemsp .haicot > div{ 
    width: 48%;
}
#frmthemsp #mota{
    height: 120px;
}
/* Định dạng css sua sp */
#frmsuasp { width: 900px; margin: auto; border: 2px solid darkblue; padding: 10px 10px;}
#frmsuasp > div { margin-bottom: 15px;}
#frmsuasp > div > label { display: block;}
#frmsuasp  .txt { height: 40px; outline: none; width: 100%;}
#frmsuasp > div > button { width: 130px; height: 35px;} 
#frmsuasp .haicot { display: flex; justify-content: space-between}
#frmsuasp .haicot > div { width: 48%;  }
#frmsuasp #mota { height: 120px;}

/* Định dạng css danh sách sp */
#danhsachsanpham h2 { 
    margin: 0; font-size: 23px; padding: 8px; background-color: darkcyan; color: white;
}
#listsp > .sp { border: 1px solid darkcyan ; padding: 10px; 
display: grid; grid-template-columns: 400px 100px auto auto 100px 100px 100px 100px;}
#listsp > .sp > *:last-child{ text-align: right;}
#listsp > .sp a { text-decoration: none; color: black}
#listsp > .sp a:hover { color: red; }
#listsp > .sp b { color:darkorange; font-size: 18px;;}

/* Định dạng css thanh phân trang: */
#pagination{ 
    margin: 20px;
    text-align: center;
    font-size: 20px;
}
#pagination a{
    text-decoration: none;
    color:chocolate;
    font-weight: 900;
    margin: 5px;
}
#pagination a:hover{
    color:darkblue;
    text-decoration: underline;
}
/* Định dạng css loại sp thêm */
#frmthemloaisp{
    width: 600px;
    margin:auto; 
    border:2px solid darkblue;
    padding:10px;
    margin-top: 20px;
}
#frmthemloaisp > div{
    margin-bottom: 15px;
}
#frmthemloaisp > div > label{
    display: block;
}
#frmthemloaisp > div > button{
    width: 180px;
    height: 35px;
} 
#frmthemloaisp .txt{
    height: 40px;
    outline: none;
    width: 100%;
}
/* Định dạng css loai sp sửa */
#frmsualoaisp{
    width: 600px; 
    margin: auto; 
    border: 2px solid darkblue; 
    padding: 10px 10px;
}
#frmsualoaisp > div{ 
    margin-bottom: 15px;
}
#frmsualoaisp > div > label{ 
    display: block;
}
#frmsualoaisp > div > button{ 
    width: 180px; 
    height: 35px;
} 
#frmsualoaisp .txt{ 
    height: 40px; 
    outline: none; 
    width: 100%;
}
/* Định dạng css loại danh sách */
#danhsachLoaiSP { width: 800px; margin: auto;}
#danhsachLoaiSP h2 { 
    margin: 0; font-size: 23px; padding: 8px; background-color: darkcyan; color: white;
}
#listLoaiSP > .loai { border: 1px solid darkcyan ; padding: 10px; 
display: grid; grid-template-columns: 400px  auto auto auto}
#listLoaiSP > .loai > *:last-child{ text-align: right;}
#listLoaiSP > .loai a { text-decoration: none; color: black}
#listLoaiSP > .loai a:hover { color: red; }
#listLoaiSP > .loai b { color:darkorange; font-size: 18px;}
/* admin login */
#frmlogin { width:650px; margin:auto; border:2px solid darkblue; padding:10px 10px;}
#frmlogin > div { margin-bottom: 15px;}
#frmlogin > div > label { display: block;}
#frmlogin > div > input { padding: 8px; outline: none; width: 100%;}
#frmlogin > div > button { width: 130px; height: 35px;} 
/* header */
#container > header{ position: relative;}
#userinfo { position: absolute; bottom: 10px; right: 20px; color: yellow}




